.icons {
  float: none;
  margin: 0 auto;
  width: 80%;
  padding: 80px 0;

  .section-header {
    margin-bottom: 40px;
  }

  figure {

    h2 {
      letter-spacing: -1px;
      font-size: 30px;
      font-weight: 200;
      margin-bottom: 20px;

      span {
        font-size: 40px;
        color: $green;
      }
    }

    img {
      width: 70%;
      height: auto;
      border-radius: 100%;
      padding: 20px;
    }

    &.one img {
      background-color: #6f9280;
    }

    &.two img {
      background-color: $blue-gray;
    }

    &.three img {
      background-color: #193441;
    }

    p {
      opacity: 0;
      @include transform(translateY(40px));
      @include transition(transform 0.8s, opacity 0.8s);

      &.shown {
        opacity: 1;
        @include transform(translateY(0));
      }
    }
  }
}

/* &.one img {
  background-color: #6f9280;
  padding: 20px 30px 20px 20px;
}

&.two img {
  background-color: \$blue-gray;
  padding: 20px 20px 20px 30px;
}

&.three img {
  background-color: #193441;
  padding: 27px 27px 27px 30px;
}
 */
