@mixin transition($args...) {
  $new-args: "";
  @each $thing in $args {
    @if str-index("#{$thing}", "transform") == 1 {
      $new-args: set-nth($args, 1, "-webkit-#{$thing}");
    }
  }
  -webkit-transition: #{$new-args};
  @each $thing in $args {
    @if str-index("#{$thing}", "transform") == 1 {
      $new-args: set-nth($args, 1, "-moz-#{$thing}");
    }
  }
  -moz-transition: #{$new-args};

  @each $thing in $args {
    @if str-index("#{$thing}", "transform") == 1 {
      $new-args: set-nth($args, 1, "-o-#{$thing}");
    }
  }
  -o-transition: #{$new-args};
  transition: $args;
}

@mixin background-gradient($args...) {
  background: -webkit-linear-gradient($args);
  background: -o-linear-gradient($args);
  background: -moz-linear-gradient($args);
  background: linear-gradient($args);
}


@mixin transform($type) {
  -webkit-transform: $type;
  -ms-transform: $type;
  -moz-transform: $type;
  transform: $type;
}

@function transform-variable($seconds) {
  @return (#{-webkit-transform $seconds})
}


@mixin animation($args...) {
  -webkit-animation: $args;
     -moz-animation: $args;
       -o-animation: $args;
          animation: $args;
}
/* move_eye 4s linear 0s infinite alternate; */

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} { @content; }
     @-moz-keyframes #{$name} { @content; }
       @-o-keyframes #{$name} { @content; }
          @keyframes #{$name} { @content; }
}
