#services {

  .section-header {
    margin-top: 80px;
  }

  .services-table {

    width: 80%;
    margin-left: 10%;

    ul {

      li {

        text-align: center;

        h4 {
          height: 40px;
          margin: 50px auto;
          font-weight: 100;
        }

      }

    }
  }


}
