#services {

  .section-header {
    margin-top: 80px;
  }

  .services-table {

    width: 80%;
    margin-left: 10%;

    ul {

      li {
        text-align: center;
        opacity: 0;
        @include transform(translateY(40px));
        @include transition(transform 0.8s, opacity 0.8s);

        &.shown {
          opacity: 1;
          @include transform(translateY(0));
        }

        h4 {
          height: 40px;
          margin: 50px auto;
          font-weight: 100;
        }

      }

    }
  }


}
