.strategy {
  padding: 80px;
  background: $blue-gray;
  color: white;
  height: 670px;

  #accordion {
    width: 50%;
    float: left;

    .panel-default {
      background: none;
      border: none;
      box-shadow: none;

      .panel-heading {
        background: none;

        a {
          margin-left: 35px;
          font-size: 30px;
          text-decoration: none;
          color: $off-white;

          &:hover, &:focus {
            color: $light-green;
          }
        }
      }

      .panel-body {
        border-top-color: $light-green;

        text {
          font-weight: 200;
        }
      }
    }

    h2 {
      font-size: 55px;
      font-weight: 200;
      letter-spacing: -2px;
    }

  }
  .strategy-image {
    img {
      margin-top: 60px;
      max-width: 500px;
    }
  }

}
