$green: #08C400;
$light-green: #08E900;
$dark-green: #215700;

$blue: #225378;
$blue-gray: #3E606F;

$dark-gray: #374140;
$off-black: #2A2C2B;
$black: #1E1E20;

$off-white: #D5D5E3;
$transparent-white: rgba(255,255,255,0.2);
